

div {
    background-color: #dfcfc9;
    text-align: left;
    font-size: 21px;
    color: #2f2e46;
    font style: Helvetica;
    font weight: bold;
    cursor: grab;

 }
    
.Contact-Section {
    font-size: 19px;
    color: #3f04e0a6;
    border-style: double;
    border-width: 5px;
    radius: 3px;
        text style: bold; }
        

            img {
                height: 220px;
                border style: solid;
                border-color: #fefefe;
            }

li {
    color: #050074;
    font-size: 22px;
    font-style: italic;
    text-shadow: #908ce0;

}
p.normal {
    font weight: bold;
}

.grab {cursor:-webkit- grab; cursor: grab;}

div {cursor:grab;}
