div {
    background-color:#5d677c;
    border-radius: 10px;
    text-align: left;
    color: #bbf2e3;
    font: Arial; }
    
.Contact-Section {
    font-size: 19px;
        text style: bold; }
        
.Destinations {
            image=height: 12px;
            image=width: 18px;    }


