div {
    background-color: #dfcfc9;
    text-align: left;
    font-size: 19px
    color: #2f2e46;
    font: Helvetica;
    Style: bold;

 }
    
.Contact-Section {
    font-size: 19px;
        text style: bold; }
        

            img {
                height: 220px;
            }

.li {
    color: #050074;
    font size: 19px;
    font-style: bold;
}


